@tailwind base;
@tailwind components;
@tailwind utilities;

.navsize{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(92, 102, 232);
    color: aqua;
    text-align: right;
    padding-right: 40px;
    padding-top: 80px;
    z-index: 5;
    font-size: 25px;
    border-left: 5px;
    border-color: aquamarine;
    border-style: groove;
 }
 .layer{
    z-index: 6;
 }

body
{
    background-color: rgba(11, 3, 24, 0.492);
}
.container
{
    background-color: aqua;
}